<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un Poco De Todo</title>
    <link rel="stylesheet" href="./../css/estilos.css">
</head>


<!--Cuerpo de la Web-->
<body>

    <!--Header-->
    <header>
        <h1>De Todo Un Poco</h1>
    
        <nav>
            <a href="./../index.html">Inicio</a>
            <a href="./presupuesto.html">Presupuestos</a>
            <a href="#">Galerias</a>
            <a href="./contacto.html">Contacto</a>
        </nav>
    </header>

    <!--Main-->
    <main class="mainGaleria">
        <h2>Aqui te dejamos algunos fondos de pantalla</h2>
        <br>
        <h3>Diseñados por algunos de nuestros supcriptores</h3>

        <!--Peliculas-->
        <div id="galeria_peliculas">
            <img src="./../assets/imagenes/galeria/parafondopantalla/peliculas/avatar3.jpg" alt="movie_avatar" title="movie_avatar" width="1920" height="1080" >
            <img src="./../assets/imagenes/galeria/parafondopantalla/peliculas/tron3.jpg" alt="movie_tron" title="movie_tron" width="3840" height="2160" >
            <img src="./../assets/imagenes/galeria/parafondopantalla/peliculas/los4f.jpg" alt="movie_los4f" title="movie_los4f" width="2626" height="1472" >
            <img src="./../assets/imagenes/galeria/parafondopantalla/peliculas/superman.jpg" alt="movie_superman" title="movie_superman" width="3840" height="2160" >
        </div>

        <!--Juegos-->
        <div id="galeria_juegos">
            <img src="./../assets/imagenes/galeria/parafondopantalla/juegos/dying_light.jpg" alt="dying_light" title="dying_light" width="1920" height="1080">
            <img src="./../assets/imagenes/galeria/parafondopantalla/juegos/ghost_of_yotei.jpg" alt="ghost_of_yotei" title="ghost_of_yotei" width="3840" height="2160">
            <img src="./../assets/imagenes/galeria/parafondopantalla/juegos/gta6.jpg" alt="gta6" title="gta6" width="1200" height="675">
            <img src="./../assets/imagenes/galeria/parafondopantalla/juegos/mafia.jpg" alt="mafia" title="mafia" width="3840" height="2177">
            <img src="./../assets/imagenes/galeria/parafondopantalla/juegos/wolverine.jpeg" alt="wolverine" title="wolverine" width="3840" height="2400">
        </div>

        <!--Series-->
        <div id="galeria_series">
            <img src="./../assets/imagenes/galeria/parafondopantalla/series/gen_v.jpg" alt="gen_v" title="gen_v" width="3840" height="2160">
            <img src="./../assets/imagenes/galeria/parafondopantalla/series/peacemaker.jpg" alt="peacemaker" title="peacemaker" width="3840" height="2160">
            <img src="./../assets/imagenes/galeria/parafondopantalla/series/strangers_things.jpg" alt="strangers_things" title="strangers_things" width="1600" height="900">
        </div>
    </main>
    
   <!--Footer-->
    <footer>
        
        <!--Redes sociales-->
        <div class="redes">
            <h3>Follow us:</h3>

            <ul class="listR">
                <li><a href="#"><img src="./../assets/imagenes/logos/logoinstagram.avif" title="logo_insta" alt="logo_insta" width="740" height="740"></a></li>
                <li><a href="#"><img src="./../assets/imagenes/logos/logofacebook.avif" title="logo_face" alt="logo_face" width="740" height="740"></a></li>
                <li><a href="#"><img src="./../assets/imagenes/logos/logotwitterx.avif" title="logo_X" alt="logo_X" width="626" height="626"></a></li>
            </ul>
        </div>
        
         <!--Direccion-->
        <div class="direccion">
            <h3>Dirección:</h3>

            <ul class="listD" >
                <li>C. de Cavanilles, 35, Retiro, 28007 Madrid</li>
                <li><a href="#">DeTodoUnPoco@gmail.com</a></li>
            </ul> 
        </div>
        
        <!--Aviso legal-->
        <div class="avisos">
            <h3>Aviso legal:</h3>

            <ul class="listA">
                <li>Politica de privacidad</li>
                <li>Politica de cookies</li>
                <li>Preferencia de cookies</li>
                <li>Politica de uso</li>
                <li>Informacion sobre la proteccion de datos</li>
                <li>Terminos y condiciones de ventas</li>
            </ul> 
        </div>
         
    </footer>  

    <script src="./../js/script.js"></script>
</body>

</html>